
.s
input[type=text] {
    width: 130px;
    float:right;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
   background: url('https://image.flaticon.com/icons/png/128/149/149852.png');
   background-size: 30px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 40%;
}
.h1{
        font-style: italic;
        color:black;
        text-align:center;
        font-size:50px;
        color:DarkSlateGray;
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:DarkSlateGray;
   color: white;
   text-align: center;
   padding:30px;
}
.h2{
        font-style:oblique;
        color:DarkSlateGray;
}
.c{
    font-size:40px;
    padding:20px;
}
.scrollToTop{
 
  height:130px;
  padding:35px; 
  text-align:center; 
  background: whiteSmoke;
  font-weight: bold;
  color: #444;
  text-decoration: none;
  position:fixed;
  top:500px;
  right:40px;
  display:none;
  background: url('https://image.flaticon.com/icons/svg/36/36905.svg') no-repeat 0px 20px;
}
.scrollToTop:hover{
  text-decoration:none;
}
.wrp 
  {
    border-radius: 40%
    height: 150px; 
    width:150px;
    background-color: #2badd9;
    float: left;
    
    margin-left: 30px;
    margin-bottom: 2px;
    margin-right: 5px;
  }
   .wr{
    margin-right: 20px;
    margin-left: 20px;
  }
@media only screen and (max-width: 600px) {
    body {
        font-size: 10px;
    }
}
.right{
      text-align: left;
}
#btn{
    margin-left:400px;
}
